body{
    background-color: black;
    border: 3px solid white;
    margin: 30px 250px 50px 250px;
    padding: 50px 50px 50px 0px; 
}
.A{
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 50px;
}